<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sgqn.club.base.mapper.SysRoleMapper">

    <select id="selectByCondition" parameterType="sysRoleCondition" resultType="sysRole">
        SELECT id, name, description, sort, code, type, status, create_time
        FROM db_club.sys_role
        <trim prefix="WHERE" prefixOverrides="OR">
            <if test="condition.name != null">name LIKE CONCAT('%', #{condition.name}, '%')</if>
            <if test="condition.code != null">OR code LIKE CONCAT('%', #{condition.code}, '%')</if>
            <if test="condition.status != null">OR `status`= #{condition.status}</if>
            <if test="condition.startTime != null and condition.endTime == null">OR create_time
                <![CDATA[>=]]> #{condition.startTime}
            </if>
            <if test="condition.startTime != null and condition.endTime != null">OR create_time BETWEEN
                #{condition.startTime} AND #{condition.endTime}
            </if>
        </trim>
    </select>

</mapper>